DATABASE_URL="file:./dev.db"
FB_PAGE_TOKEN=""
FB_PAGE_ID=""
TIKTOK_CLIENT_KEY=""
TIKTOK_CLIENT_SECRET=""
TIKTOK_ACCESS_TOKEN=""
SHOPEE_AFFILIATE_KEY=""
SHOPEE_AFFILIATE_SECRET=""
TTS_KEY=""
TTS_PROVIDER="edge"
